/*
Colors used:
Background color (lightgrey): #F9F9F9;
Secondary Background color (White): #FFFFFF;
*/

* {
  box-sizing: border-box;
}
body, .body{
  background-color: #F9F9F9;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}

/* HEADINGS */

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1, .h1 {
font-size: 2.75em;
font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

/* LINKS */

a {
  color: #002D75;
  text-decoration: transparent;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: #002D75;
}

a:hover,
a:focus {
  color: #97BFFF;
  text-decoration: none;
}

a:active {
  /* selected link */
  color: #F9F9F9;
}

/* BUTTONS */

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #000000;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px;
  /* width of the border, type, color */
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
  color: #ffffff;
}

/* HEADER */

header {
  background-color: #ffffff;
  padding: 10px;
  margin: 10px;
  margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
}

.logo-font {
font-family: 'Space Grotesk', sans-serif;
font-weight: 700;
color:  #000000;
}

/* Layout styling */

.container {
  padding: 0 15px;
}

#work .row {
  margin: 25px 0;
}
nav {
  display: inline-block;
  width: 100%;
}
nav > ul {
  display: inline-block;
  width: 100%;
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
  font-weight: 200;
  color: #4a4a4a;
}
