/*
Colors used:
Background color (lightgrey): #F9F9F9;
Secondary Background color (White): #FFFFFF;
*/
* {
  box-sizing: border-box;
}

body, .body {
  background-color: #F9F9F9;
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}

/* HEADINGS */
h1, h2, h3, h4 {
  line-height: 1.3;
}

h1, .h1 {
  line-height: 1.3;
  font-size: 2.25em;
  font-weight: 700;
}

h2 {
  font-size: 1.75em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

/* LINKS */
a {
  font-size: 1em;
  color: #000000;
  font-weight: 700;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: #004CC5;
  text-decoration: none;
}

a:active {
  color: #000000;
}

/* BUTTON */
.button {
  background-color: #004CC5;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:visited {
  color: #ffffff;
}

.button:hover {
  opacity: 0.8;
  color: #ffffff;
  text-decoration: none;
}

/* HEADER */
header {
  background-color: #ffffff;
  padding: 20px 0px 0px;
  margin: 10px;
  margin: 0 auto;
  /* No spacing to top and bottom and auto spacing to left and right */
  -webkit-box-shadow: 3px 3px 4px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 3px 3px 4px 0px rgba(50, 50, 50, 0.1);
  box-shadow: 3px 3px 4px 0px rgba(50, 50, 50, 0.1);
  position: fixed;
  display: inline-block;
  width: 100%;
}

nav {
  width: 100%;
}

nav>ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
}

nav>ul>li>a:hover {
  text-decoration: none;
  color: #004CC5;
}


.logo-font {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  color: #004CC5;
  text-decoration: none;
}

/* Container */
.container {
  padding: 0 10px;
}

/* Index */
/* Hero */
#hero {
  background-color: #F9F9F9;
  display: inline-block;
  width: 100%;
}

#intro {
  background-color: #FFFFFF;
  display: inline-block;
  width: 100%;
}

#intro h1 {
  font-size: 1em;
  font-weight: 300;
}

#intro a {
  font-weight: 300;
}

#intro a:hover {
  text-decoration: none;
}

/* Work */
#work .row {
  margin: 25px 0;
}

#work .column {
  background-color: #FFFFFF;

  padding: 0px 0px 20px;
}

#work a {
color: #004CC5;
text-decoration: none;
}

#work h3 {
  font-size: 1.35em;
  font-weight: 100;
}

/* About */
#my-journey a {
  font-weight: 300;
}

#my-journey a:hover {
  text-decoration: none;
}


#values {
  background-color: #FFFFFF;
  display: inline-block;
  width: 100%;
}

#values p {
  font-size: 1.35em;
  font-weight: 100;
  text-align: center;
}

#values .column {
  text-align: center;
}

#approach .column {
  background-color: #ffffff;
  padding: 15px 0px;
  margin: 0px;
}

#approach h3 {
  font-size: 1.35em;
  font-weight: 100;
}


#clients .column {
  text-align: center;
}

#testimonials {
  text-align: center;
  background-color: #ffffff;
}

.Slides h2 {
  font-size: 20px;
  font-weight: 600;
}

#contact a {
  color: #FFFFFF;
  text-decoration: none;
}

footer {
  background-color: #000000;
  color: #FFFFFF;
  padding: 10px;
  margin: 10px;
  margin: 0 auto;
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 16px;
  font-weight: 300;
}

/* Connecting Elements*/
#opening h1 {
  font-size: 2.25em;
  font-weight: 700;
}
#opening a {
  text-decoration: none;
}

/* General */
main {
  padding-top: 133px;
}

section-white {
  background-color: #000000;
}

section-grey {
  background-color: #F9F9F9;
}

hr {
  margin: 20px 10px;
  opacity: 0.2;
  }
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

  header {
     text-align: unset;
     padding: 20px 0 13px;
   }

   nav {
     width: auto;
     float: right;
     margin-top: 4px;
   }

   body, .body {
     font-size: 18px;
   }
   .col-md-6 {
   width: 50%;
    }
    [class*="col-"] {
      float: left;
      padding: 10px;
    }
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
  }
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
