/*
Colors used:
Background color (lightgrey): #F9F9F9;
Secondary Background color (White): #FFFFFF;
*/

* {
  box-sizing: border-box;
}
body, .body{
  background-color: #F9F9F9;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}

/* HEADINGS */

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1, .h1 {
font-size: 6.75em;
font-weight: 700;
line-height: 1.2;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

/* LINKS */

a {
  color: #000000;
  font-weight: 700;
  text-decoration: transparent;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: #000000;
}

a:hover,
a:focus {
  color: #000000;
  text-decoration: none;
}

a:active {
  /* selected link */
  color: #000000;
}

/* BUTTONS */

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  color: #ffffff;
  background-color: #000000;
  /* needed to override the default link color */
  font-weight: 700;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px;
  /* width of the border, type, color */
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
  color: #ffffff;
}

/* HEADER */

header {
  background-color: #ffffff;
  padding: 10px;
  margin: 10px;
  margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
  -webkit-box-shadow: 3px 3px 4px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow:    3px 3px 4px 0px rgba(50, 50, 50, 0.1);
  box-shadow:         3px 3px 4px 0px rgba(50, 50, 50, 0.1);
  position: fixed;
  display: inline-block;
  width: 100%;
}

nav {
  display: inline-block;
  width: 100%;
}
nav > ul {
  display: inline-block;
  width: 100%;
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
  font-weight: 200;
}
nav > ul > li > a:hover {
  text-decoration: underline;
}

.logo-font {
font-family: 'Space Grotesk', sans-serif;
font-weight: 700;
color:  #000000;
}

/* Container */

.container {
  padding: 0 15px;
}

/* Hero */

#hero {
  background-color: #F9F9F9;
  padding: 80px 0;
  display: inline-block;
  width: 100%;
}

#intro {
  background-color: #FFFFFF;
  display: inline-block;
  width: 100%;
}
#intro h1{
  font-size: 20px;
  font-weight: 300;
}
#intro a{
  font-size: 20px;
  font-weight: 300;
}
#intro a:hover{
  text-decoration: underline;
}
/* Work */

#work .row {
  margin: 25px 0;
}

/* Main */

main {
  padding-top: 133px;
}

footer {
  background-color: #000000;
  color: #FFFFFF;
  padding: 10px;
  margin: 10px;
  margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
  position: relative;
  display: inline-block;
  width: 100%;
}
#contact a{
    color: #FFFFFF;
}
